<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../FrontEnd_Journey1.0/HTML/download (1).png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="HTML/logo.png" type="image/x-icon">
</head>
<body>
    <header>
        
        <nav>
           <h1>LOGO </h1>
            <ul>
                <li><a href="#" target="_blank">Home</a></li>
                <li><a href="#" target="_blank">Contact</a></li>
                <li><a href="#" target="_blank">Help</a></li>
                <li><a href="#" target="_blank">About Us</a></li>
            </ul>
        </nav>
    </header>
    <form action="/">
<div class="parent">
    <div class="fn">
        <label for="">First Name</label>
        <input class="someclass" id="" placeholder="Enter First Name...">
    </div>
    <div >
        <label for="">Last Name</label>
        <input class="lastname" type="text" id="" placeholder="Enter Last Name...">
    </div>
    <div>
        <label for="">Screen Name</label>
        <input class="Screen" type="text" id="" placeholder="Enter Screen Name...">
    </div>
    <div class="flexDoB">
        <label> Date of Birth</label>
        <select class="DoB" id="justthatOne">
            <optionvi>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
        </select>
        <select class="DoB">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        <select  class="DoB">
            <option>2001</option>
            <option>2002</option>
            <option>2003</option>
            <option>2004</option>
        </select>
    </div>
    <div class="gender">
        <label for="">Gender</label>
        <input type="radio" name="gender" class="sex">
         <Label>Male</Lbel>
        <input  type="radio" name="gender">
        <label for="">Female</label>
    </div>
    <div>
        <label> Country</label>
        <select class="Country">
            <option>Ghana</option>
            <option>Canada</option>
            <option>China</option>
            <option>Nigeria</option>
        </select>
    </div>
    <div>
        <label for="">Email</label>
        <input class="email" type="email" placeholder=" Enter Email...">
    </div>
    <div>
        <label for="">Phone Number</label>
        <input class="phone" type="tel" placeholder="Enter Phone Number...">
    </div>

    <input  class="button" type="submit">

</div>

    
</form>
           

    <footer>
        <p>Implemented By:<a href="#">Kremlin</a></p>
    </footer>
</body>
</html>